<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>

{% if site.use_katex %}
<script>
  
  document.addEventListener('DOMContentLoaded', (e) => {
    $("script[type='math/tex']").replaceWith(function() {
        var tex = $(this).text();
        return katex.renderToString(tex.replace(/%((\s<!\[CDATA\[)|(\]\]\>)|(\s))/g, ''), {displayMode: false});
    });

    $("script[type='math/tex; mode=display']").replaceWith(function() {
        var tex = $(this).html();
        console.log(tex);
        console.log(tex.replace(/%((\s<!\[CDATA\[)|(\]\]\>)|(\s))/g, ''));
        return katex.renderToString(tex.replace(/%((\s<!\[CDATA\[)|(\]\]\>)|(\s))/g, ''), {displayMode: true});
    });
  });
  
</script>
{% endif %}

<!-- end custom footer snippets -->
